In [168]:
import pandas as pd
from datetime import datetime
import googlemaps
import requests

In [12]:
files = ["202001-citibike-tripdata.csv", "202002-citibike-tripdata.csv", "202003-citibike-tripdata.csv", "202004-citibike-tripdata.csv", "202005-citibike-tripdata.csv", "202006-citibike-tripdata.csv", "202007-citibike-tripdata.csv", "202008-citibike-tripdata.csv", "202009-citibike-tripdata.csv", "202010-citibike-tripdata.csv"]
df = pd.DataFrame()
for file in files:
    df = df.append(pd.read_csv(file))

In [13]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [14]:
df.groupby(['birth year']).count().sort_values(by=['birth year'])['start station id'].head(50)

birth year
1873      44
1879       1
1884      11
1885     151
1886      98
1887     151
1888     669
1889     174
1890     459
1891      70
1892       2
1893     213
1894      80
1895      20
1896     256
1897     837
1898      22
1899     124
1900    3430
1901     379
1902       1
1905       8
1907      85
1909      13
1910      21
1911      52
1912     339
1913      52
1914      10
1915      72
1916      20
1917     131
1918     446
1919     237
1920      39
1921     201
1922     294
1923     172
1924     291
1925       4
1926       6
1927      12
1928     288
1929     283
1930     777
1931      76
1932     733
1933     527
1934     853
1935    1103
Name: start station id, dtype: int64

In [15]:
# Number of rides for users older than 90 years
df[df['birth year'] < 1930]['start station id'].count()

10268

In [16]:
# Number of rides for users younger than 90 years
df[df['birth year'] >= 1930]['start station id'].count()

16670956

In [17]:
# Users older than 90 years, percentage of total (%)
100*df[df['birth year'] < 1930]['start station id'].count()/len(df)

0.061554236068048725

In [18]:
# Get rid of those users
df = df[df['birth year'] >= 1930]

In [20]:
df['path id'] = df.agg(lambda x: f"{x['start station id']}_{x['end station id']}", axis=1)

In [41]:
df['trip id'] = df.index

In [63]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,path id,trip id
0,1003,2020-10-18 00:00:02.989,2020-10-18 00:16:46.916,3425,2 Ave & E 104 St,40.789211,-73.943708,3376,E 65 St & 2 Ave,40.764719,-73.962221,21246,Subscriber,1985,female,3425_3376,0
1,294,2020-10-18 00:00:04.591,2020-10-18 00:04:58.983,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,15348,Subscriber,1988,female,3093_3107,1
2,1617,2020-10-18 00:00:08.607,2020-10-18 00:27:06.375,173,Broadway & W 49 St,40.760683,-73.984527,3367,5 Ave & E 103 St,40.792255,-73.952499,36180,Subscriber,1980,male,173_3367,2
3,1050,2020-10-18 00:00:08.676,2020-10-18 00:17:39.373,3641,Broadway & W 25 St,40.742869,-73.989186,303,Mercer St & Spring St,40.723627,-73.999496,30242,Subscriber,1992,female,3641_303,3
4,992,2020-10-18 00:00:12.998,2020-10-18 00:16:45.221,4057,Amsterdam Ave & W 167 St,40.839443,-73.937044,4074,Edgecombe Ave & W 167 St,40.838191,-73.936085,42905,Subscriber,1982,male,4057_4074,4

In [ ]:
df['gender'] = df['gender'].replace([0],'unknown')

In [ ]:
df['gender'] = df['gender'].replace([1],'male')

In [ ]:
df['gender'] = df['gender'].replace([2],'female')

In [71]:
df['starttime'] = pd.to_datetime(df['starttime'])

In [72]:
df['stoptime'] = pd.to_datetime(df['stoptime'])

In [73]:
print(df.dtypes)

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                             object
path id                            object
trip id                             int64
dtype: object

In [74]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,path id,trip id
0,1003,2020-10-18 00:00:02.989,2020-10-18 00:16:46.916,3425,2 Ave & E 104 St,40.789211,-73.943708,3376,E 65 St & 2 Ave,40.764719,-73.962221,21246,Subscriber,1985,female,3425_3376,0
1,294,2020-10-18 00:00:04.591,2020-10-18 00:04:58.983,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,15348,Subscriber,1988,female,3093_3107,1
2,1617,2020-10-18 00:00:08.607,2020-10-18 00:27:06.375,173,Broadway & W 49 St,40.760683,-73.984527,3367,5 Ave & E 103 St,40.792255,-73.952499,36180,Subscriber,1980,male,173_3367,2
3,1050,2020-10-18 00:00:08.676,2020-10-18 00:17:39.373,3641,Broadway & W 25 St,40.742869,-73.989186,303,Mercer St & Spring St,40.723627,-73.999496,30242,Subscriber,1992,female,3641_303,3
4,992,2020-10-18 00:00:12.998,2020-10-18 00:16:45.221,4057,Amsterdam Ave & W 167 St,40.839443,-73.937044,4074,Edgecombe Ave & W 167 St,40.838191,-73.936085,42905,Subscriber,1982,male,4057_4074,4

In [ ]:
df.to_csv('2020-citibike-tripdata.csv', index=False)

In [ ]:
df = pd.read_csv('2020-citibike-tripdata.csv')

In [75]:
# Extract Week 43 and Week 44
timespan_df = df[(df['starttime'] >= datetime(2020, 10, 18)) & (df['starttime'] < datetime(2020, 11, 1))]

In [76]:
len(df)

950634

In [77]:
len(timespan_df)

950634

In [82]:
timespan_df.groupby(['end station id']).count()['starttime'].sort_values()

end station id
4230       1
4146       1
3185       1
3192       1
3481       1
        ...
499     4340
497     4556
3141    4965
3711    4967
435     5075
Name: starttime, Length: 1147, dtype: int64

In [78]:
timespan_df.to_csv('2020week43_44-citibike-tripdata.csv', index=False)

In [ ]:
timespan_df = pd.read_csv('2020week43_44-citibike-tripdata.csv')

In [5]:
# Create dataframe to display paths
paths_start = pd.DataFrame()
paths_end = pd.DataFrame()

In [6]:
paths_start['Origin-Destination'] = ''
paths_end['Origin-Destination'] = ''

In [7]:
paths_start['Station'] = timespan_df['start station id']
paths_end['Station'] = timespan_df['end station id']

In [8]:
paths_start['Origin-Destination'] = 'Origin'
paths_end['Origin-Destination'] = 'Destination'

In [9]:
paths_start.head()

  Origin-Destination  Station
0             Origin     3425
1             Origin     3093
2             Origin      173
3             Origin     3641
4             Origin     4057

In [10]:
paths_end.head()

  Origin-Destination  Station
0        Destination     3376
1        Destination     3107
2        Destination     3367
3        Destination      303
4        Destination     4074

In [11]:
paths_start['Path ID'] = timespan_df['path id']
paths_end['Path ID'] = timespan_df['path id']

In [12]:
paths_start['Latitude'] = timespan_df['start station latitude']
paths_end['Latitude'] = timespan_df['end station latitude']

In [13]:
paths_start['Longitude'] = timespan_df['start station longitude']
paths_end['Longitude'] = timespan_df['end station longitude']

In [48]:
paths_start['Trip ID'] = timespan_df['trip id']
paths_end['Trip ID'] = timespan_df['trip id']

In [50]:
paths_start.head()

  Origin-Destination  Station    Path ID   Latitude  Longitude   Trip ID
0             Origin     3425  3425_3376  40.789211 -73.943708  15720322
1             Origin     3093  3093_3107  40.717452 -73.958509  15720323
2             Origin      173   173_3367  40.760683 -73.984527  15720324
3             Origin     3641   3641_303  40.742869 -73.989186  15720325
4             Origin     4057  4057_4074  40.839443 -73.937044  15720326

In [51]:
paths_end.head()

  Origin-Destination  Station    Path ID   Latitude  Longitude   Trip ID
0        Destination     3376  3425_3376  40.764719 -73.962221  15720322
1        Destination     3107  3093_3107  40.723117 -73.952123  15720323
2        Destination     3367   173_3367  40.792255 -73.952499  15720324
3        Destination      303   3641_303  40.723627 -73.999496  15720325
4        Destination     4074  4057_4074  40.838191 -73.936085  15720326

In [52]:
len(paths_start)

950634

In [53]:
# ignore_index = False (default) so that later it is possible to sort by index :)
paths_df = paths_start.append(paths_end)

In [54]:
paths_df.head()

  Origin-Destination  Station    Path ID   Latitude  Longitude   Trip ID
0             Origin     3425  3425_3376  40.789211 -73.943708  15720322
1             Origin     3093  3093_3107  40.717452 -73.958509  15720323
2             Origin      173   173_3367  40.760683 -73.984527  15720324
3             Origin     3641   3641_303  40.742869 -73.989186  15720325
4             Origin     4057  4057_4074  40.839443 -73.937044  15720326

In [55]:
paths_df.tail()

       Origin-Destination  Station    Path ID   Latitude  Longitude   Trip ID
950629        Destination     3764   471_3764  40.705517 -73.939360  16670951
950630        Destination     3960  4005_3960  40.822756 -73.951346  16670952
950631        Destination     4057  4010_4057  40.839443 -73.937044  16670953
950632        Destination      432   3783_432  40.726218 -73.983799  16670954
950633        Destination      468    402_468  40.765265 -73.981923  16670955

In [56]:
len(paths_df)

1901268

In [57]:
paths_df = paths_df.sort_index()

In [58]:
paths_df.head()

  Origin-Destination  Station    Path ID   Latitude  Longitude   Trip ID
0             Origin     3425  3425_3376  40.789211 -73.943708  15720322
0        Destination     3376  3425_3376  40.764719 -73.962221  15720322
1             Origin     3093  3093_3107  40.717452 -73.958509  15720323
1        Destination     3107  3093_3107  40.723117 -73.952123  15720323
2             Origin      173   173_3367  40.760683 -73.984527  15720324

In [59]:
paths_df = paths_df.reset_index(drop=True)

In [302]:
paths_df.head()

  Origin-Destination  Station    Path ID   Latitude  Longitude   Trip ID
0             Origin     3425  3425_3376  40.789210 -73.943708  15720322
1        Destination     3376  3425_3376  40.764719 -73.962221  15720322
2             Origin     3093  3093_3107  40.717452 -73.958509  15720323
3        Destination     3107  3093_3107  40.723117 -73.952123  15720323
4             Origin      173   173_3367  40.760683 -73.984527  15720324

In [84]:
paths_df.to_csv('2020week43_44-citibike-paths.csv', index=False)

In [212]:
paths_df = pd.read_csv('2020week43_44-citibike-paths.csv')

In [111]:
# Use Google Maps -> APIs, Geocoding -> Enable API.
# gmaps = googlemaps.Client(key='AIzaSyD1wveySIHZPsaoyXNCwHQIgz5qR1CILks')
# Define address
# result = gmaps.geocode(address)

In [339]:
# Here API for reverse geocoding is used:
latlng = paths_df.groupby(['Station', 'Latitude', 'Longitude']).count()

In [341]:
latlng

      Station   Latitude  Longitude  Origin-Destination  Path ID  Trip ID
0          72  40.767272 -73.993929                3129     3129     3129
1          79  40.719116 -74.006667                2028     2028     2028
2          82  40.711174 -74.000165                1050     1050     1050
3          83  40.683826 -73.976323                1706     1706     1706
4         116  40.741776 -74.001497                3534     3534     3534
...       ...        ...        ...                 ...      ...      ...
1142     4225  40.696233 -73.991421                1064     1064     1064
1143     4227  40.837037 -73.890413                  42       42       42
1144     4228  40.839194 -73.888587                 164      164      164
1145     4229  40.840494 -73.911479                   7        7        7
1146     4230  40.835877 -73.893143                   2        2        2

[1147 rows x 6 columns]

In [340]:
latlng = pd.DataFrame(latlng).reset_index()

In [342]:
latlng = latlng.drop(['Origin-Destination', 'Path ID', 'Trip ID'], axis = 1)

In [343]:
latlng.head()

   Station   Latitude  Longitude
0       72  40.767272 -73.993929
1       79  40.719116 -74.006667
2       82  40.711174 -74.000165
3       83  40.683826 -73.976323
4      116  40.741776 -74.001497

In [307]:
zip_codes = []

In [ ]:
API_KEy =''

In [308]:
for i in range(len(latlng)):
    url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + '%.6f'%latlng.iloc[i]['Latitude'] + ',' + '%.6f'%latlng.iloc[i]['Longitude'] + '&key=' + API_KEY
    response = requests.get(url)
    response = response.json()
    zip_codes.append(int(response['results'][0]['address_components'][-1]['long_name']))

In [309]:
len(zip_codes)

1147

In [313]:
latlng['zip code'] = zip_codes

In [ ]:
latlng.rename(columns = {'Latitude': 'lat', 'Longitude': 'lng', 'Station': 'station id'})

In [ ]:
latlng.head()

In [319]:
latlng.to_csv('2020week43_44-citibike-zipcodes.csv', index=False)

In [ ]:
latlng.pd.read_csv('2020week43_44-citibike-zipcodes.csv')